/* The grid: Three equal columns that floats next to each other */
.news-container {
  box-sizing: border-box;
}
.news-container .column {
    float: left;
    width: 32.5%;
    padding: 50px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    color: white;
  }
  
 .news-container .containerTab {
    padding: 20px;
    margin-left: -15px;
    width:100%;
    color: white;
  }

  .news-container  {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    height:300px!important;
  }
  
  /* Clear floats after the columns */
  .news-container .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Closable button inside the container tab */
  .news-container .closebtn {
    float: right;
    color: white;
    font-size: 35px;
    cursor: pointer;
  }